@import "../../CommonStyles/CommonColors.scss";
@import "../../CommonStyles/CommonStyles.scss";

.cabRes-header {
  width: 100%;
  padding: 5pt 15pt;
  background-color: $primary;
  border: 1px solid $primary;
}
.cabRes-header-destName {
  color: #ffff;
  font-weight: bold;
  font-size: 12pt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  .cabRes-header-destName-edit {
    align-items: center;
    background-color: $highlight;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 9pt;
    height: 25px;
    justify-content: center;
    margin-left: 10px;
    width: 25px;
  }
}
.cabRes-header-othrDtls {
  color: #dcdcdc;
  font-size: 10pt;
  font-weight: 700;
}
