.busMain-block {
  width: 100%;
  box-shadow: 0.04rem 0.06rem 0.4rem rgba(0, 0, 0, 0.171);
  padding: 10pt 0 3pt 10pt;
  border-radius: 0.8rem;
  margin-top: 20px;
}
.busMain-block .busMain-block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.busMain-block .busMain-block-top .busMain-bus-travel {
  display: flex;
  align-items: center;
  gap: 5px;
}
.busMain-block .busMain-block-top .busMain-bus-travel .busMain-bus-travel-name {
  font-size: 12pt;
  font-weight: bolder;
}
.busMain-block .busMain-block-top .busMain-bus-Timings {
  display: flex;
  align-items: center;
  gap: 10pt;
}
.busMain-block .busMain-block-top .busMain-bus-Timings .busMain-Timing {
  font-size: 8pt;
}
.busMain-block .busMain-block-top .busMain-bus-Timings .busMain-Timing span {
  font-size: 9pt;
  font-weight: 500;
}
.busMain-block .busMain-block-top .busMain-bus-Timings .busMain-dur {
  align-items: flex-end;
  color: #a0a0a0;
  display: flex;
  font-size: 8pt;
  font-weight: 700;
  justify-content: center;
}
.busMain-block .busMain-block-top .busMain-bus-Fare {
  align-items: center;
  color: #bb3e03;
  display: flex;
  font-size: 10pt;
  font-weight: 700;
  margin-right: 10px;
}
.busMain-block .busMain-block-top .busMain-bus-Fare .busMain-bus-Fare-icon {
  margin-right: 5px;
}
.busMain-block .busMain-bus-type {
  font-size: 7pt;
}
.busMain-block .busMain-block-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5pt;
}
.busMain-block .busMain-block-bottom .busMain-tracking {
  display: flex;
  align-items: center;
  font-size: 10pt;
  gap: 10pt;
}
.busMain-block .busMain-block-bottom .busMain-tracking .busMain-details-btn {
  font-size: 10pt;
  text-decoration: underline;
  color: #e19604;
  cursor: pointer;
}
.busMain-block .busMain-block-bottom .busMain-submit {
  display: flex;
  justify-content: end;
}
.busMain-block .busMain-block-bottom .busMain-submit button {
  padding: 5pt 10pt;
  background-color: #001219;
  color: #fff;
  border-radius: 0.8rem;
  border: none;
  font-size: 10pt;
}

.bus-popup-header {
  font-size: 15pt;
  font-weight: bolder;
}

.cab-header-price {
  align-items: center;
  color: #bb3e03;
  display: flex;
  font-size: 10pt;
  font-weight: 700;
  justify-content: flex-end;
}

.busCancel-popup-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(80, 80, 80);
  font-size: 12pt;
  font-weight: bold;
}

.busCancel-popup-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.busCancel-popup-rules {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.busCancel-popup-rule {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
}

.busCancel-popup-rulesSection {
  margin-bottom: 10px;
  border-bottom: 1.5px dashed rgb(120, 120, 120);
}

@media screen and (width >= 700px) {
  .busMain-block {
    width: 90%;
    box-shadow: 0.04rem 0.06rem 0.4rem rgba(0, 0, 0, 0.171);
    padding: 10pt 0 3pt 10pt;
    border-radius: 0.8rem;
    margin-top: 20px;
  }
  .busMain-block .busMain-block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .busMain-block .busMain-block-top .busMain-bus-travel {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .busMain-block .busMain-block-top .busMain-bus-travel .busMain-bus-travel-name {
    font-size: 12pt;
    font-weight: bolder;
  }
  .busMain-block .busMain-block-top .busMain-bus-Timings {
    display: flex;
    align-items: center;
    gap: 10pt;
  }
  .busMain-block .busMain-block-top .busMain-bus-Timings .busMain-Timing {
    font-size: 10pt;
  }
  .busMain-block .busMain-block-top .busMain-bus-Timings .busMain-Timing span {
    font-size: 12pt;
    font-weight: 500;
  }
  .busMain-block .busMain-block-top .busMain-bus-Timings .busMain-dur {
    align-items: flex-end;
    border-bottom: 1px dashed #969696;
    color: #a0a0a0;
    display: flex;
    font-size: 8pt;
    font-weight: 700;
    justify-content: center;
    padding-bottom: 5px;
  }
  .busMain-block .busMain-block-top .busMain-bus-Fare {
    align-items: center;
    color: #bb3e03;
    display: flex;
    font-size: 14pt;
    font-weight: 700;
    margin-right: 10px;
  }
  .busMain-block .busMain-block-top .busMain-bus-Fare .busMain-bus-Fare-icon {
    margin-right: 5px;
  }
  .busMain-block .busMain-bus-type {
    font-size: 10pt;
  }
  .busMain-block .busMain-block-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5pt;
  }
  .busMain-block .busMain-block-bottom .busMain-tracking {
    display: flex;
    align-items: center;
    font-size: 10pt;
    gap: 10pt;
  }
  .busMain-block .busMain-block-bottom .busMain-tracking .busMain-details-btn {
    font-size: 10pt;
    text-decoration: underline;
    color: #e19604;
    cursor: pointer;
  }
  .busMain-block .busMain-block-bottom .busMain-submit {
    display: flex;
    justify-content: end;
  }
  .busMain-block .busMain-block-bottom .busMain-submit button {
    padding: 5pt 10pt;
    background-color: #001219;
    color: #fff;
    border-radius: 0.8rem;
    border: none;
    font-size: 10pt;
  }
  .busMain-block-top {
    flex-direction: row !important;
  }
  .busMain-block-bottom {
    flex-direction: row !important;
  }
  .busMain-submit {
    justify-content: flex-start;
  }
  .seperate {
    height: 50%;
  }
  .cab-header-price {
    align-items: center;
    color: #bb3e03;
    display: flex;
    font-size: 14pt;
    font-weight: 700;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=Bus.css.map */