@import "../../CommonStyles/CommonColors.scss";
@import "../../CommonStyles/CommonStyles.scss";

.cab-container {
  box-shadow: $shadow1;
  width: 90%;
  padding: 10pt 0 3pt 10pt;
  margin: 10pt 0;

  border-radius: 0.8rem;
  .cab-card {
    display: flex;
    gap: 10pt;
    margin: 10pt 0;
    .cab-img {
      img {
        width: 5vw;
          height: 5vw;
      }
    }
    .cab-card-details {
      width: 100%;
      .cab-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cab-header-name {
          display: flex;
          span {
            font-weight: bold;
            font-size: 12pt;
            margin-right: 5px;
          }
        }
        .cab-header-date {
          font-size: 10pt;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          background-color: #94d2bd;
          border-radius: 0.8rem 0rem 0rem 0.8rem;
          padding: 5pt;
        }
      }
      .cab-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10pt;
        .cab-header-price {
          margin-right: 10px;
          font-size: 12pt;
          font-weight: bold;
          color: $secondary;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          .cab-header-price-icon {
            margin-right: 5px;
            font-size: 10pt;
          }
          .cab-header-price-icon-add {
            font-size: 6pt;
            margin-right: 5px;
          }
        }
        span {
          font-size: 12pt;
        }
        .cab-header-service {
          font-size: 8pt;
        }
        button {
          padding: 5pt 10pt;
          background-color: $primary;
          border-radius: 0.8rem;
          color: #fff;
          border: none;
        }
      }
    }
  }
  .seperate {
    border-bottom: 1px dotted $primary;
  }
  .timestamp {
    padding: 3pt 10pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 10pt;
    gap: 10pt;
    .cab-header-price {
      margin-right: 10px;
      font-size: 12pt;
      font-weight: bold;
      color: $secondary;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .cab-header-price-icon {
        margin-right: 5px;
        font-size: 10pt;
      }
    }
  }
  .hotel-card-admin-details-upload {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    .upload-icon {
      cursor: pointer;
    }
  }
  .hotel-card-admin-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 10pt 0;
    .hotel-card-upload {
      cursor: pointer;
      border: 1px solid $primary;
      box-shadow: $shadow1;
      padding: 5px 10px;
      border-radius: 0.8rem;
      text-align: center;
    }
    .request-status {
      font-size: 10pt;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      span {
        font-size: 8pt;
        padding: 3pt 5pt;
        font-weight: bold;
        color: #ffff;
        border-radius: 0.8rem;
        text-align: center;
      }
    }
  }
}

@media screen and (width <= 700px) {
  .cab-container {
    width: 100%;
    .timestamp {
      flex-direction: row;
      font-size: 8pt;
      .cab-header-price{
        font-size: 10pt;
      }
    }
    .cab-card {
      gap: 5pt;
      .cab-card-details{
         .cab-header{
          div{
            font-size: 9pt;
          }
          .cab-header-name{
            font-size: 9pt;

            span{
              font-size: 9pt;
            }
          }
          .cab-header-date{
font-size: 7pt;
font-weight: 500;
padding-right: 0;
          }
         }
      } 
      .cab-body{
        span{
          font-size: 9pt !important;
        }
        flex-wrap: wrap;
        align-items: center;
        
      }
      .cab-img {
        img {
          width: 15vw;
          height: 15vw;
          object-fit: contain;
        }
      }
    }
  }
}
