@import "../../CommonStyles/CommonColors.scss";
@import "../../CommonStyles/CommonStyles.scss";

.changepassword-block {
  .changepassword-nav {
    padding: 10pt;
    background-color: $primary;
    color: white;
  }
  .changepassword-main {
    .changepassword-main-header {
      text-align: center;
      font-weight: bolder;
      font-size: 20pt;
    }
    .changepassword-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25pt;
      .changepassword-feild {
        .error-message {
          font-size: 12px;
          color: red;
        }
        .changepassword-type-input {
          padding: 10px 0px;
          position: relative;
          input {
            padding: 5pt 10pt;
            border: 1px solid #000000;
            border-radius: 0.8rem;
          }
          span {
            position: absolute;
            top: 15px;
            left: 10px;
          }
        }
      }
      .error-message {
        font-size: 12pt;
        color: red;
      }
      .changepassword-submit {
        display: flex;
        justify-content: center;
        margin: 10pt;
        flex-direction: column;
        gap: 10pt;
        button {
          padding: 10pt;
          background: $primary;
          border: none;
          border-radius: 0.8rem;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
